%p#notice= notice

%p
  = @category.name
  %br
  = @category.desc
  %br
  = @category.category if @category.category

= render :partial => "archivements/archivement", :collection => @category.archivements
